[submodule "courses/english-grammar"]
	path = courses/english-grammar
	url = git@github.com:positron48/english-grammar.git
[submodule "courses/spanish-grammar"]
	path = courses/spanish-grammar
	url = git@github.com:positron48/spanish-grammar.git
